/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header Components***********/
header {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.logo-booki {
    width: 70px;
}

.hebergements-link {
    margin-right: 50px;
    color: #0065fc;
    border-top: solid 3px #0065fc;
   padding-top: 17px;
    
}

.hebergements-link[data-active="true"] {
    color: #0065fc;
    
}
.hebergements-link:hover {
    color: #0065fc;
    border-top: solid 3px #0065fc;
   padding-top: 17px;
   
}
.activites-link {
    margin-right: 50px;
    
    
}
.activites-link:hover {
    color: #0065fc;
    border-top: solid 3px #0065fc;
   padding-top: 17px;
   
}

.logement-disponible {
    display: flex;
    margin: 20px 0px 20px 0px;
}
.logement-disponible a {
    margin-top: 10px;
    margin-right: 15px;
}

.info-icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid #ccc; 
    border-radius: 50%; 
    background-color: white; 
  }
  
  .info-icon {
    color: #007bff; 
    font-size: 12px; 
  }
/****** Recherche ***********/

.picto {
    width: 20px;
}

  
 /* Section de la barre de recherche */
.search {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 60%;
    box-sizing: border-box;
    overflow: hidden; /* Pour éviter le dépassement */
    margin-top: 30px;
  }
  
  /* Pictogramme */
  .search .picto {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    padding-left: 10px;

  }
  
  /* Champ de saisie */
  .search input {
    height: 30px;
    border: none;
    background-color: white;
    flex: 1;
    font-size: 16px;
    padding: 5px;
    outline: none;
    color: #333;
  }
  
  /* Bouton Rechercher */
  .search button {
    background-color: #0065fc;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0; /* Seulement les coins droits arrondis */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0; /* Empêche le bouton de réduire */
  }
  
  .search button:hover {
    background-color: #0056d2;
  }

/****** Filtres ***********/
.filters {
    display: flex;
  
   
}
.filters h3 {
    margin-right: 20px;
    margin-top: 40px;
   
}



.filters-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    
  }
  
  .filter-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bolder;
  }
  
  .filter-btn:hover {
    border-color: #0065fc;
  }
  
  .filter-icon {
    width: 18px;
    height: 18px;
  }
  
 
  
  .highlight-btn:hover {
    background-color: #bcd8ff;
  }
  

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}



.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.hebergements-cards a {
    width: 30%;
    transition: transform 0.3s ease;
}

.hebergements-cards a:hover {
    transform: scale(1.1);
}

.hebergements-cards .card {
   width: 100%;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
   
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    transition: transform 0.3s ease;
}
.populaires-cards .card:hover {
    transform: scale(1.1);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******* Activites *******/

.activites {
    width: 100%;
    margin: 30px;
    padding-top: 50px;
}


.activites-title {
   margin-left: 10px;
   margin-bottom: 20px;
}

.activites-cards {
    display: flex;
    width: 96%;
    justify-content: space-between;
    
}

.activites-cards a {
   width: 35%;
   height: 430px;
    margin-top: 33px;
    margin: 10px;
    transition: transform 0.3s ease;
}
.activites-cards a:hover {
    transform: scale(1.1);
}


.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}


.activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 10px;
}


.activites-cards .card-rating {
    margin-bottom: 5px;
}

/* General Footer Styling */
footer {
    
    display: flex;
    
    background-color: #f2f2f2;
    padding: 10px 15px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
  }
  
  .footer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }
  
  .footer-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    margin-bottom: 8px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .filters {
        display: flex;
        flex-direction: column;
    }
    .filters-row {
       margin-top: 5px;
       

    }
    .hebergements {
        width: 100%;  
    }
    

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .activites .card {
   
        height: 250px;     
    }

    .activites-cards img {
        height: 200px;
    }

}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
  
    .main-container {
        margin: 0; /* Supprime toutes les marges */
        padding: 0; /* Optionnel : enlève aussi les espacements internes */
      }

      .logo-section {
        text-align: center;
       
      }
      .link-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }


      .search {
        width:90%;
        margin: 0 auto;
        
      }
    
      .search button {
        margin: 0 auto;
        background-color: transparent;
        padding: 10px;
        border: none;
        font-size: 0;
        background-color: #0065fc;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      }
    
      .search button i {
        font-size: 20px; 
        color: white; 
        margin: 0; 
        
      }


    .logement-disponible {
        display: flex;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }
    .logement-disponible a {
        margin-top: 20px;
        margin-right: 15px;
    }
    
    .info-icon-container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 20px;
        border: 1px solid #ccc; 
        border-radius: 50%; 
        background-color: white; 
      }
      
      .info-icon {
        color: #007bff; 
        font-size: 12px; 
      }

   
      .hebergements-link {
        margin: 0;
        color: #0065fc;
        border-top: none;
        border-bottom: solid 3px #0065fc;
        width: 50%;
        text-align: center;    
    }

    .activites-link {
        width: 50%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        border-bottom: solid 3px #F2F2F2;
    }

    .activites-link:hover {
        color: #0065fc;
        border-top: solid 3px #0065fc;
       padding-top: 17px;
       border-top: none;
       
    }
    .hebergements-link:hover {
        color: #0065fc;
        border-top: solid 3px #0065fc;
       padding-top: 17px;
       border-top: none;
       
    }

      .hebergements-and-populaires section {
        border-radius: 0px;
        box-sizing: border-box;
        background-color: white;
    }
    .hebergements-and-populaires .populaires {
        background-color: #F2F2F2;
    }

    header {
        display: flex;
        flex-direction: column;
         
    }

    .speach {
        margin: 0px 20px 0px 20px;
    }

    

    .filters {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }
    .filters-row {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        
        
    }

    .filter-btn {
        width: 150px;
        height: 50px;
    }
    .hebergements {
        width: 100%;
        order: 2;
      
    }

    
    .hebergements-cards {
        width: 100%;
       display: flex;
       flex-direction: column;
        
    }

    .populaires {
        order: 1;
        
    }
    .populaires-cards{
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }
    .hebergements-cards a {
        width: 100%;
    }

    .activites {
        margin: 0 auto;
        width: 90%;
        margin-bottom: 70px;
        


    }

    .activites-cards {
        display: flex;
        flex-direction: column;
       
    }


    .activites-cards a {
        width: 100%;
        height: auto;
     }

     .activites-cards img {
        height: 180px;
     }
    footer {
        display: flex;
        flex-direction: column;
    }
}